header {
    text-align: right;
    margin-right: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}

.headers {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

.characters {
    display: inline-flex;
}
#Obi-Wan-Kenobi {
    height: 100px;
    width: 100px;
    background-color: white;
    text-align: center;
    font-size: 10px;
    border: 3px solid green;
}

#Luke-Skywalker {
    height: 100px;
    width: 100px;
    background-color: white;
    text-align: center;
    font-size: 10px;
    border: 3px solid green;
}

#Darth-Sidious {
    height: 100px;
    width: 100px;
    background-color: white;
    text-align: center;
    font-size: 10px;
    border: 3px solid green;
}

#Darth-Maul {
    height: 100px;
    width: 100px;
    background-color: white;
    text-align: center;
    font-size: 10px;
    border: 3px solid green;
}

img {
    height: 60px;
    width: 60px;
    margin: 5px 20px 3px 20px;
}

#restart {
    visibility: hidden;
}

body {
    background-image: url("../images/ship.jpg");
}

p5, p6, p7 {
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
}